@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('base.css');
@import url('responsive.css');

.about {
  padding: 2rem;
  max-width: min(1200px, 80%);
  margin: 2rem auto;
  border: 5px black double;
  border-radius: 15px;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
