@import url(home.css);

.portfolio-container {
    margin: 2rem auto;
    display: flex;
    max-width: min(1200px, 80%);
    flex-direction: column;
    border: 5px double black;
    border-radius: 15px;
    padding: 2rem;
}

.portfolio-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.portfolio-container iframe {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.portfolio-container h3 {
    padding-block: 0.5rem;
}

.portfolio-container ul li {
    list-style: inside;
}